<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.kleberjunio.acampamentoadventista">

    <!-- recursos necessarios -->
    <!-- so vai aparecer na play store para celulares com camera -->
    <!--<uses-feature-->
        <!--android:name="android.hardware.camera2"-->
        <!--android:required="true" />-->

    <!-- permissoes necessarias -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.CAMERA" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.MenuActivity">
        </activity>
        <activity
            android:name=".activity.ListaMusicasActivity"
            android:parentActivityName=".activity.MenuActivity"
            android:theme="@style/AppTheme2" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.RoteirosActivity"
            android:parentActivityName=".activity.MenuActivity"
            />
        <activity
            android:name=".activity.ListaVideosActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.InformesActivity"
            android:parentActivityName=".activity.MenuActivity" />
        <activity
            android:name=".activity.ContatosActivity"
            android:parentActivityName=".activity.MenuActivity" />
        <activity android:name=".activity.PlayerActivity" />
        <activity
            android:name=".activity.MusicaActivity"
            android:parentActivityName=".activity.ListaMusicasActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>